
<!-- <nav>
  <ng-container *ngIf="currentRoute !== '/landing-page'"> -->
    <!-- <div class="search-container">
       <a routerLink="/search">search</a>
    </div> -->
    <!-- <ng-container *ngIf="!signedIn">
      <a routerLink="/sign-in">Sign In</a>
      <a routerLink="/sign-up">Sign Up</a>
       <a routerLink="/dashboard">Dash</a>
       <a routerLink="/cart">Cart</a>
      <button (click)="logout()">Logout</button>
    </ng-container>
   
  </ng-container>
</nav> -->
 
<router-outlet (activate)="currentRoute=$event.constructor.name"></router-outlet>



