
<a class="search-icon" routerLink="/search" queryParamsHandling="merge" [queryParams]="{ query: 'your-search-query' }" aria-label="Search products">
  <i class="fa fa-search fa-lg"></i>
</a>



<a href="/admin-dashboard" class="back-arrow">&larr; </a>

<div class="container">
  <h1>Welcome to Deshs Products</h1>
 
  <button class="add-product-btn" (click)="showAddProductModal()">Add New Product</button>
  <button class="logout-btn" (click)="logout()">Logout</button>
  <table class="products-table">
    <caption>Gas Products</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Stock</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedProducts">

        <td>{{ product.name }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>
          <div *ngIf="!product.isLoading">
            <!-- Use the `async` pipe to load the product image -->
            <img [src]="'data:image/jpeg;base64,' + product.imageData" alt="Product Image">
          </div>
          <div *ngIf="product.isLoading">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
          </div>
        </td>
        <td>{{ product.price * product.stock }}</td>
        <td>
          <button (click)="showEditProductModal(product)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="confirmDeleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  
  <div class="modal" *ngIf="addProductModal">
    <h2>Add New Product</h2>
    <form [formGroup]="addProductForm">
      <label>Name</label>
      <input type="text" formControlName="name">
      <label>Description</label>
      <textarea formControlName="description"></textarea>
      <label>Stock</label>
      <input type="number" formControlName="stock">
      <label>Price</label>
      <input type="number" formControlName="price">
      <label>Image</label>
      <input type="file" (change)="onFileSelected($event)">
      <button (click)="addNewProduct()">Add Product</button>
    </form>
  </div>
  <div class="modal" *ngIf="editProductModal">
    <h2>Edit Product</h2>
    <form [formGroup]="editProductForm">
      <label>Name</label>
      <input type="text" formControlName="name">
      <label>Description</label>
      <textarea formControlName="description"></textarea>
      <label>Stock</label>
      <input type="number" formControlName="stock">
      <label>Price</label>
      <input type="number" formControlName="price">
      <label>Image</label>
      <input type="file" (change)="onFileSelected($event)">
      <button (click)="updateProduct()">Update Product</button>
    </form>
  </div>
</div>