<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>
	
</head>
<body>
		<nav>
		<a href="sign-in">Sign In</a>
		<a href="sign-up">Sign Up</a>
	</nav>
	<header>Admin Dashboard</header>
	<div class="container">
		<div class="card">
			<h3>New Product</h3>
			<p>Add a new product to the store.</p>
			<a href="landing-page">Add Product</a>
		</div>
		<div class="card">
			<h3>Orders </h3>
			<p>View Orders requested.</p>
			<a href="orders">View Orders</a>
		</div>
		<div class="card">
			<h3>Completed Requests</h3>
			<p>View completed requests.</p>
			<a href="completed-requests.html">View Requests</a>
		</div>
		<div class="card">
			<h3>Wishlist</h3>
			<p>View customer wishlists.</p>
			<a href="wishlist.html">View Wishlists</a>
		</div>
	</div>
</body>
</html>

	